* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: "Noto Serif JP", serif;
}

.page {
  min-height: 100vh;
}

:root {
  --nav-height: 60px; /* タブの高さに合わせる */
}

html {
  scroll-padding-top: var(--nav-height);
}

.section {
  scroll-margin-top: var(--nav-height);
}